<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Task Manager</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.883e8fe0f9296be8.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="styles.883e8fe0f9296be8.css"></noscript>
</head>
<body>
    <app-root></app-root>
    <script src="runtime.9bdba85871858d64.js" type="module"></script>
    <script src="polyfills.44651ca2c7c1f24e.js" type="module"></script>
    <script src="scripts.7a03ad5e732d52fb.js" defer></script>
    <script src="main.0289eb1cb8b96385.js" type="module"></script>

</body>
</html>